/*
`color` properties are meant for coloring text
`background-color` properties are meant for coloring backgrounds (surprisingly)

All colors have to (for now) be expressed as hex, in the format RRGGBBAA.
If Alpha is omitted, it will default to FF (opaque).
 */

/* Defaults used for most stuff */
* {
    background-color: #FFFFFFFF;
    color: #888888FF;
}

/* Defaults used for most stuff when hovered */
:hover {
    background-color: #E59F34FF;
    color: #FFFFFFFF;
}

/* Defaults used for most stuff when disabled (not actually used yet). Acts as a mask (so multiplied with base color) */
:disabled {
    background-color: #FFFFFF42;
}

/* Confirm button */
.confirm {
    background-color: #4782E3FF;
}

/* Confirm button when hovered */
.confirm:hover {
    background-color: #629DFFFF;
}

/* Cancel button */
.cancel {
    background-color: #E34747FF;
}

/* Cancel button when hovered */
.cancel:hover {
    background-color: #FF6262FF;
}

/* Popup color */
.popup {
    background-color: #BBBBBBFF; /* not used yet (see default) */
    color: #555555FF; /* only used for the title. Will be split later */
}

/* Unused atm */
.cursor {
    background-color: #8EE1E8;
}

/* Unused atm */
.dead {
    background-color: #C94141FF;
}

/* Unused atm */
.hardcore-dead {
    background-color: #990000FF;
}

/* These are used for mob hp bars.
   To use them in HUD, you can use `<rgba>healthStep.rgba</rgba>` and it will get styled accordingly.
 */

/* [0.0f, 0.1f] */
.hp .very_low {
    background-color: #F72100FF;
}

/* ]0.1f, 0.2f] */
.hp .low {
    background-color: #F72100FF;
}

/* ]0.2f, 0.3f] */
.hp .very_damaged {
    background-color: #F72100FF;
}

/* ]0.3f, 0.4f] */
.hp .damaged {
    background-color: #FFFFFFFF;
}

/* ]0.4f, 0.5f] */
.hp .okay {
    background-color: #FFFFFFFF;
}

/* ]0.5f, 1.0f] */
.hp .good {
    background-color: #FFFFFFFF;
}

/* creative */
.hp .creative {
    background-color: #FFFFFFFF;
}

/*
 * Used for passive mobs, friendly NPCs and nice players by default.
 */
.cursor .innocent {
    background-color: #93F43E00;
}

/*
 * Used for mobs not targeting you, and harmful players by default.
 */
.cursor .violent {
    background-color: #F49B0000;
}

/*
 * Used for mobs targeting you, and criminal players by default.
 */
.cursor .killer {
    background-color: #B91111FF;
}

/*
 * Used for bosses by default.
 */
.cursor .boss {
    background-color: #BD0000FF;
}

/*
 * Used for creative players by default.
 */
.cursor .creative {
    background-color: #4CEDC500;
}

/*
 * Used for GM players by default (OP mode on servers).
 */
.cursor .op {
    background-color: #00000000;
}

/*
 * Grey.
 * Used for errors by default.
 */
.cursor .invalid {
    background-color: #8B8B8B00;
}

/*
 * Used for devs of the SAOUI by default.
 */
.cursor .gamemaster {
    background-color: #79139EFF;
}