/*
`color` properties are meant for coloring text.
`background-color` properties are meant for coloring backgrounds (surprisingly).

All colors have to (for now) be expressed as hex, in the format RRGGBBAA.
If Alpha is omitted, it will default to FF (opaque).
 */

/* Defaults used for most stuff */
* {
    background-color: #2b2b2b;
    color: #bbbbbb;
}

/* Defaults used for most stuff when hovered */
:hover {
    background-color: #203a74;
    color: #bbbbbb;
}

/* Defaults used for most stuff when disabled (not actually used yet). Acts as a mask (so multiplied with base color) */
:disabled {
    background-color: #FFFFFF42;
}

/* Confirm button */
.confirm {
    background-color: #4782E3FF;
}

/* Confirm button when hovered */
.confirm:hover {
    background-color: #629DFFFF;
}

/* Cancel button */
.cancel {
    background-color: #E34747FF;
}

/* Cancel button when hovered */
.cancel:hover {
    background-color: #FF6262FF;
}

/* Popup color */
.popup {
    background-color: #BBBBBBFF; /* not used yet (see default) */
    color: #aaaaaa; /* only used for the title. Will be split later */
}

/* Unused atm */
.cursor {
    background-color: #8EE1E8;
}

/* Unused atm */
.dead {
    background-color: #C94141FF;
}

/* Unused atm */
.hardcore-dead {
    background-color: #990000FF;
}